* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user_container {
    background-color: #efefef;
}

.user_detail {
    background-color: #fff;
    border-radius: 8px;
}

.detail_sidebar {
    background-color: #efefef;
    border-radius: 8px;
}

.info_detail {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    border-radius: 8px;
}

.info_title {
    padding: .375rem .75rem;
    margin: 0.8rem 0;
}

.table_user {
    padding: 2.5rem 0;
}

.text_href {
    text-decoration: none;
    padding: 20px 18px;
    display: flex;
    align-items: center;
}

.text_href:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 0.2s;
}

li {
    list-style: none;
}

.label_management {
    padding: 23px 24px 23px;
}

.text_style {
    font-size: 13px;
    font-weight: 300px;
    color: rgb(0,0,0);;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0px 22px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
}

.info-vertical {
    border-left: 1px solid rgb(235, 235, 240);
    margin: 16px 0px;
}

.form-control {
    border: none !important;
    margin-bottom: 24px;
}

.flex_field {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px !important;
}

.nameInput,
.nicknameInput,
.dateInput,
.genderInput,
.countryInput {
    margin-right: 1.2rem;
}

name

.input-label {
    width: 110px;
    min-width: 110px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-right: 16px;
}

.input-btn {
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(0,0,0);
    cursor: pointer;
}

.input-btn:hover {
    background-color: rgb(175,134,92);
    color: #000;
    transition: 0.2s;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0px;
}

.input_field {
    width: 70%;
    padding: .2rem .6rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.button {
    border: 1px solid rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 0px 12px;
    color: rgb(0,0,0);
}

.button:hover {
    border: 1px solid rgb(175,134,92);
    color: rgb(175,134,92);
    transition: 0.2s;
}

.header_title {
    margin: 1.2rem 0;

}

.text_field {
    padding-right: 12rem;
}

.name_field,
.city_field,
.district_field,
.address_field {
    width: 30rem;
    padding: .375rem .75rem;
    border: 1px solid rgb(204, 204, 204);
}

.form-control button[type="submit"] {
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(0, 0 ,0);
    cursor: pointer;
}

.form-control button[type="submit"]:hover {
    background-color:rgb(175,134,92);
    color: rgb(255,255,255);
    transition: 0.2s;
}





