.header_edit span
{
    font-size: 2.4rem;
    
    font-weight: 700;
    display: block;
    padding-bottom: 10px;
}
.header_edit p 
{
    font-size: 1.3rem;
    margin-top: 10px;
    border-bottom: 1px solid #dbd6d6;
    padding-bottom: 10px;
    color: #939191;
}
label
{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;

}
#product
{
    background-color: rgb(245, 241, 241);
    width: 463px;
    border-radius: 2px;
    margin: 0;
    padding-left: 20px;
}
.content_name
{
    display: flex;
    flex-direction: column;
}
.content_name p
{
    margin-top: 15px;
    font-size: 1rem;
    color: #939191;
}
.category_item
{
    display: flex;
    flex-direction: column;
}
#input_name
{
    margin: 0 !important;
    width: 464px;
}
#input_day
{
    width: 290px;
    margin: 0;
}
#input_name
{
    padding: 15px;
    font-size: 1.6rem !important;
    border-radius: 4px;
    border: 1px solid #000;
    color: #000;
    margin-bottom: 15px;
}

#input_day

{
    padding: 13px;
    font-size: 1.6rem !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 430px;
    border-radius: 4px;
    border: none;
    margin-bottom: 15px;
}
.category
{
    margin-top: 15px;
}
textarea 
{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.6rem !important;
    
}
.category_item p
{
    margin-top: 15px;
    color: #939191;
}
.category-icon
{
    width: 15px;
}
.product-name p
{
    font-size: 1.6rem;
    font-weight: 500;
   
}
.product-img img
{
    width: 100%;
}
.product-add-img
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #000;
}
.icon-img-product
{
    width: 15px;
}
.product-add-img-1 p,
.product-add-img p
{
    text-align: center;
    width: 150px;
    margin-top: 5px;
    color: #939191;
}
.product-add-img-1 p a,
.product-add-img p a
{
    text-decoration: none;
    color: #054b74 !important;
}
.product-add-img-1 p,
.product-add-img p {
    margin: 0;
}

.product-add-img-two
{
    height: 100%;
}
.product-add-img-1
{
    width: 100%;
    height: 44%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #000;
}
.mg-t
{
    margin-top: 24px;
}
.description
{
    margin-top: 15px;
}
.description p
{
    font-size: 1.3rem;
    color:  #939191;
    line-height: 2.4rem;
}
.add_sl
{
    margin-top: 4px;
}
.add_day,
.add_price
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
a:hover
{
    text-decoration: none !important;
    
}
.special_1
{
    background-position-x: 420px;
}
.add_day p,
.add_price p
{
    font-size: 1.6rem;
    font-weight: 600;
}
.special
{
    background-position-x: 277px;
}
.price_item
{
    padding: 10px 30px;
    border: 1px solid #f6efefed;
    font-size: 1.3rem;
    background-color: #f8f4f5;
    border-radius: 5px;
}
.price
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price_item:nth-child(4),
.price_item:nth-child(5),
.price_item:nth-child(6)
{
    margin-top: 10px;
}
.button {
    margin-top: 46px;
}
.button_add
{
    text-align: center;
}

.active_button:hover span
{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.button button,
.button_add input
{
   padding: 5px;
    background-color: #4d4f5c;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
}
.active_button span
{
    background-color: #fff !important;
    color: #000;
    border: 1px solid #4d4f5c;
    font-weight: 500;
}
.not_active span
{
    color: #939191 !important;
    border: 1px solid #939191;
    background-color: #fff;
    padding: 15px 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 500;
}
.not_active:hover span
{
    background-color: #fff !important;
    cursor: default;
    opacity: 1 !important;
    color: #939191 !important;
}
.admin_user::before
{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    right: 184px;
    top: 38px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
.add button a
{
    text-decoration: none;
    color: #fff;
}
.admin_user::after
{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    right: 118px;
    top: 38px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
/* Input file */
label.label input[type="file"] {
    position: absolute;
    top: -1000px;
  }
.label {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    font-size: 12px;
    background: #dddddd;
    display: inline-block;
    color: #000;
  }
  .label:hover {
    opacity: 0.8;
  }
  .label:active {
    background: #9fa1a0;
  }
  .label:invalid+span {
    color: #000000;
  }
  .label:valid+span {
    color: #ffffff;
  }
  .none {
    display: none;
  }
  .product_img {
    height: 100%;
  }